---
import HeadCommon from '../components/HeadCommon.astro';
import { Mixer } from '../repl/Mixer';
---

<html lang="en" class="m-0 dark">
  <head>
    <HeadCommon />
    <title>Kolacik Mixer</title>
    <style>
      :root {
        --background: #0a0e14;
        --lineHighlight: #0d111730;
      }
    </style>
  </head>
  <body style="background: #0a0a0a; margin: 0;">
    <Mixer client:only="react" />
  </body>
</html>
